.ModalWindow {
  width: unset;
}

::-webkit-scrollbar {
  width: 0;
}

.chat__screen {
  display: flex;
  width: 90vw;
  height: 75vh;
  overflow: hidden;
}

.chat__users {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.chat__users-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__users-title {
  margin: 0;
  padding: 2rem;
}

.chat__users-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border: 1px solid gray;
}

.chat__users-content {
  flex-basis: 70%;
  display: flex;
  flex-flow: column;
  padding: 0 0 0 2rem;
}

.chat__users-nickname {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

.chat__users-image {
  flex-basis: 15%;
}

.chat__users-metrics {
  flex-basis: 15%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.chat__history {
  flex-basis: 55%;
  padding: 1rem 2rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.chat__history-message {
  display: flex;
}

.chat__history-msg-text {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 1rem;
}

.chat__history-msg-left {
  justify-content: flex-start;
}

.chat__history-msg-right {
  justify-content: flex-end;
}

@media only screen and (max-width: 840px) {
  .chat__history {
    display: none;
  }

  .chat__users {
    flex-basis: 100%;
  }
}